

    <nav class="navbar navbar-light" id="navbar_content" style="background-color: #e3f2fd; width: 100%;">
        <!-- Navbar content -->
        
        <a class="navbar-brand" href="#">导航栏</a>
        <!-- <a href = "/{{appName}}/table1/" >总表</a>
        
        <a href = "/{{appName}}/table1/" >厂区表</a>
        <a href = "/{{appName}}/visual1/" >视觉化1</a>
        <a href = "/{{appName}}/visual2/" >视觉化2</a>
        <a href = "/app/addApp/">构建</a>
        <a href = "/logout/">测</a> -->
        
    </nav>


    <script>
        let ele = document.getElementsByClassName('navbar navbar-light').navbar_content
        let url = window.location.href
        let lst = url.split('/')
        let appName = lst[3]
        console.log(appName)
        let arrayText = []
        if (appName == 'app'){
            arrayText = [['视觉化1','visual1'],['视觉化1','visual2'],['构建','addApp']]
        } else {
            arrayText = [['总表','table1'],['查询','待做'],['Streamlit','visual1'],['视觉化1','visual2']]
        }
        arrayText.forEach(element => {
            let addTag = document.createElement('a')
            addTag.innerHTML = element[0]
            addTag.setAttribute('href','/'+appName+'/'+element[1]+'/')
            ele.append(addTag)
        })
        // let addTag3 = document.createElement('a')
        // addTag3.innerHTML = '上传文件'
        // addTag3.setAttribute('href','/app/upload/')
        // ele.append(addTag3)
        // let addTag1 = document.createElement('a')
        // addTag1.innerHTML = '构建'
        // addTag1.setAttribute('href','/app/addApp/')
        // ele.append(addTag1)
        let addTag2 = document.createElement('a')
        addTag2.innerHTML = '登出'
        addTag2.setAttribute('href','/logout/')
        ele.append(addTag2)
    </script>