{% extends 'baseTemp.html' %}

{% block content %}

<div class='addAppContainer'>
    <h2 style='text-align: center; margin-bottom:20px;'>上传文件</h2>
  
      
    <div>
        <label class="form-label" for="customFile">上传文件</label>
        <input type="file" class="form-control" id="customFile"  style = "width: 90%;"/>
        </div>
        
        <div style="width : 260px;margin:0 auto">
        <div style="width:100px;float: left;">
            <input onclick="submit()" id="createApp"class="btn btn-primary" style="width: 100px; display: block;"type="submit" value="上传文件" />
        </div>

    </div>
    <div style = "margin-top: 50px;">
        <label class="form-label" for="customFile">选择文件解析</label>
        <div style="width:200px">
        <select id = "fileSelect"onclick = "selectClick()"class="custom-select" id="inputGroupSelect01">
            <!-- <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option> -->
          </select>
        </div>
        
        <div style="width : 260px;margin:0 auto">
        <div style="width:100px;float: left;">
            <input onclick="submit()" id="createApp"class="btn btn-primary" style="width: 100px; display: block;"type="submit" value="上传文件" />
        </div>

    </div>
</div>


<script>
  const submit = () => {
    // console.log(appName)
    console.log('com here')
    const inp = document.getElementById("customFile");
    const formData = new FormData();
    formData.append("key", inp.files[0]);
    formData.append('csrfmiddlewaretoken', '{{csrf_token}}')//如果
     fetch('/app/upload/', {
      method: "POST",
      body: formData //自动修改请求头,formdata的默认请求头的格式是 multipart/form-data
    }).then(res => res.json())
      .then(res => {
        alert('上传文件成功')
        console.log(res)
       
      })
  }

</script>
<script>
  const UPDATEDB = () => {
    fetch('/app/updateDB/',{
      method:"GET",
    }).then(res => res.json())
      .then(res => {
        alert('更新成功')
        location.reload()
        document.getElementById("updatedb").disabled = true
      })
  }

  const selectClick = () =>{
    fetch('/app/getUploadFiles/',{
      method:"GET",
    }).then(res => res.json())
      .then(res => {
        console.log(res)
        console.log(res.fileList)
        let ele = document.getElementById("fileSelect")
        ele.innerText = ''
        res.fileList.forEach(element => {
           let addTag = document.createElement('option')
           addTag.innerText = element
           ele.append(addTag)
           console.log(element)
        });
        // alert('更新成功')
        // location.reload()
        // document.getElementById("updatedb").disabled = true
      })
  }
</script>

{% endblock %}