{% extends 'baseTemp.html' %}

{% block content %}

<div class='addAppContainer'>
  <h2 style='text-align: center; margin-bottom:20px;'>创建应用</h2>
  <h5>添加应用名<h5>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">添加应用名</span>
        </div>
        <input id='appName' type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div>
        <label class="form-label" for="customFile">上传配置文件</label>
        <input type="file" class="form-control" id="customFile"  style = "width: 90%;"/>
      </div>
      <h5>配置文件示例子</h5>

      <div> <!--实例module-->
        <!-- Button trigger modal -->
        {% include './module/addApp_FileDemo.html'%}
      <div style="width : 260px;margin:0 auto">
        <div style="width:100px;float: left;">
          <input onclick="submit()" id="createApp"class="btn btn-primary" style="width: 100px; display: block;"type="submit" value="创建" />
        </div>

        <div style="width:100px;float:left;margin-left:50px">
          <input  onclick="UPDATEDB()" id="updatedb" class="btn btn-primary" style="width: 100px; display: block;"type="submit" value="更新" />
        </div>
      </div>
</div>

</div>
<script>
  const submit = () => {
    const appName = document.getElementById('appName').value
    // console.log(appName)
    console.log('com here')
    const inp = document.getElementById("customFile");
    const formData = new FormData();
    formData.append("key", inp.files[0]);
    formData.append('name', appName)
    formData.append('csrfmiddlewaretoken', '{{csrf_token}}')//如果
     fetch('/app/addApp/', {
      method: "POST",
      body: formData //自动修改请求头,formdata的默认请求头的格式是 multipart/form-data
    }).then(res => res.json())
      .then(res => {
        alert('创建成功')
        console.log(res)
        document.getElementById("createApp").disabled = true
      })
  }

</script>
<script>
  const UPDATEDB = () => {
    fetch('/app/updateDB/',{
      method:"GET",
    }).then(res => res.json())
      .then(res => {
        alert('更新成功')
        location.reload()
        document.getElementById("updatedb").disabled = true
      })
  }
</script>

{% endblock %}