  <div class='addAppContainer'>
    <h2 style='text-align: center; margin-top: 5%;'>上传文件</h2>
  
    <div>
      <label class="form-label" for="customFile">上传文件</label>
      <input type="file" class="form-control" id="customFile1" style="width: 90%;" />
    </div>

    <div style="margin-bottom: 20px;">
    </div>
  
    <div style="width : 90%;margin:0 auto">
      
      <div style="width:40%;float: left;margin-left:10%">
        <input onclick="uploadFile()" id="createApp" class="btn btn-primary" style="width: 80%; float:left;" 
          type="submit" value="上传" />
      </div>
      <div style="width:40%;float:left;margin-left:10%">
        <input onclick="UPDATEDB()" id="updatedb" class="btn btn-primary" style="width: 80%; float:left;" type="submit"
          value="更新" />
      </div>
  
  
    </div>
  
</div>

  <script>
    const uploadFile = () => {
      // console.log(appName)
      // console.log('com here')
      const inp = document.getElementById("customFile1");
      const formData = new FormData();
      formData.append("key", inp.files[0]);
      formData.append('csrfmiddlewaretoken', '{{csrf_token}}')//如果
      fetch('/app/upload/', {
        method: "POST",
        body: formData //自动修改请求头,formdata的默认请求头的格式是 multipart/form-data
      }).then(res => res.json())
        .then(res => {
          alert('上传文件成功')
          // console.log(res)

        })
    }

    // const UPDATEDB = () => {
    //     // setInterval(function(){ alert("Hello"); }, 3000);
    //     fetch('/app/getProcess/', {
    //       method: "GET",
    //     }).then(res => res.json())
    //       .then(res => {
    //         console.log(res)
    //       })
    //     fetch('/app/updateDB/', {
    //       method: "GET",
    //     }).then(res => res.json())
    //       .then(res => {
    //         alert('更新成功')
    //         location.reload()
    //         document.getElementById("updatedb").disabled = true
    //       })
    //   }

  </script>