{% extends 'baseTemp.html' %}
{% block content %}

<div class = 'f1'>
    <h4 style="margin-left: 100px;letter-spacing: 2px;">{{title}}</h4>
    <form action="{{action}}" method="post">
        {% csrf_token %}
        {{ form }}   
        <datalist></datalist>
        <input type="submit" style ="margin-top: 25px;" value="确定">
        <a style="margin-left: 130px" href = "{{goback}}">返回</a>
    </form>
    <div id = 'space'></div>
</div>

<script>
    function hello(){
        let div = document.getElementById('space')
        let datalist = document.createElement('datalist')
        datalist.setAttribute('id',"使用时长_设备名称")
        div.append(datalist)
        
        myFetch('GET','/app/loadBasicData/')
        .then(res =>{
            // console.log(res)
            let ele = document.getElementById("使用时长_设备名称")
            // console.log(ele)
              res.msg.forEach(element => {
                
                let addTag = document.createElement('option')
                addTag.innerText = element.设备名称
                ele.append(addTag)
                // console.log(element)
              });
            
        })
    }

    function hello1(){
        let div = document.getElementById('space')
        let datalist = document.createElement('datalist')
        datalist.setAttribute('id',"使用时长_设备编号")
        div.append(datalist)
        
        myFetch('GET','/app/loadBasicData/')
        .then(res =>{
            // console.log(res)
            let ele = document.getElementById("使用时长_设备编号")
            // console.log(ele)
              res.msg.forEach(element => {
                
                let addTag = document.createElement('option')
                addTag.innerText = element.设备编号
                ele.append(addTag)
                // console.log(element)
              });
            
        })
    }
    window.onload = hello()
    window.onload = hello1()
    function func1(val){

        myFetch('GET','/app/loadBasicData/')
        .then(res =>{
            
              res.msg.forEach(element => {

                if (element.设备编号 == val){
                    document.getElementById('使用时长_设备名称id').value = element.设备名称
                }
                
              });
            
        })
    }

    function func2(val){
        // document.getElementById('使用时长_设备编号id').value = val

        myFetch('GET','/app/loadBasicData/')
        .then(res =>{
            
              res.msg.forEach(element => {

                if (element.设备名称 == val){
                    document.getElementById('使用时长_设备编号id').value = element.设备编号
                }
                
              });
            
        })
    }
    
</script>
{% endblock %}